<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css"/>

    <link rel="stylesheet" href="/css/profile-image-upload.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css">
    <style>
        .disp-none {
            display: none;
        }

        .container-form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px;
            padding-bottom: 0;
        }

        .container-image {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        #confirm-img {
            height: 218px;
            border-radius: 4px;
        }


        #upload-aphoto {
            background: red;
            border-color: red;
        }
    </style>

</head>
<body>
<input hidden id="user_gender" th:value="${user.getGender()}">
<input hidden id="user_mbti" th:value="${user.getMbti()}">


<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">회원정보수정</div>
                    <div class="card-body">
                        <form id="my-form" name=" my-form" action="/members/edit" method="post" onsubmit="return base64Upload()">
                            <input id="uid" type="hidden" th:value="${user.getUid()}" name="uid"/>
                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">이름</label>
                                <div class="col-md-6">
                                    <input type="text" id="name" class="form-control" name="name"
                                           th:value="${user.getName()}">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="gender" class="col-md-4 col-form-label text-md-right">성별</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="gender" name="gender"
                                            th:value="${user.getGender()}"></select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="age" class="col-md-4 col-form-label text-md-right">나이</label>
                                <div class="col-md-6">
                                    <input type="Number" id="age" class="form-control" min="20" max="99" name="age"
                                           th:value="${user.getAge()}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="mbti" class="col-md-4 col-form-label text-md-right">MBTI</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="mbti" name="mbti"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="stateMessage" class="col-md-4 col-form-label text-md-right">상태메세지</label>
                                <div class="col-md-6">
                                    <input type="text" id="stateMessage" name="stateMessage" class="form-control"
                                           th:value="${user.getStateMessage()}">
                                </div>
                            </div>

                            <input type="hidden" id="profileImage" class="form-control" name="profileImage"
                                   th:value="${user.getProfileImage()}">

                        </form>

                        <!--프로필 이미지-->
                        <div class="form-group row">
                            <label for="imageFile"
                                   class="col-md-4 col-form-label text-md-right">프로필이미지</label>
                            <div class="col-md-6">
                                <!--파일 업로드 버튼-->
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="imageFile"
                                           accept=".png, .jpg, .jpeg, .svg"
                                           name="file" aria-describedby="customFileInput">
                                    <label class="custom-file-label" for="imageFile"
                                           style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Select
                                        file</label>
                                </div>

                                <form action="/base64Upload" method="post" name="image" id="base64form" target="iframe1">
                                    <input type="hidden" id="base64" name="base64">
                                    <input type="hidden" name="uid" th:value="${user.getUid()}">
                                </form>

                                <!--프리뷰-->
                                <div class="box box-margin">
                                    <img class="profile" id="preview-image">
                                </div>

                            </div>

                        </div>

                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary" form="my-form">
                                다음
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>

    <iframe id="iframe1" name="iframe1" style="display:none"></iframe>
</main>

<!--이미지 자르기 창-->
<div class="modal fade" id="imageModalContainer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content modal-content1 modal-content1">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModal">Crop Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body1">
                <div id='crop-image-container'>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary save-modal">Save</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/member/mbti.js"></script>
<script src="/js/member/gender.js"></script>
<!--자바스크립트-->
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/croppie/2.4.1/croppie.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<script src="/js/profileImage/imageLoader.js"></script>
<script src="/js/profileImage/imagefilePreview.js"></script>

<script>
    $(document).on('click', '#upload-aphoto', function () {
        document.getElementById('imageFile').click();
    });

    $('#imageFile').change(function () {
        if (this.files[0] == undefined)
            return;
        $('#imageModalContainer').modal('show');
        let reader = new FileReader();
        reader.addEventListener("load", function () {
            window.src = reader.result;
            $('#imageFile').val('');
        }, false);
        if (this.files[0]) {
            reader.readAsDataURL(this.files[0]);
        }
    });

    let croppi;
    $('#imageModalContainer').on('shown.bs.modal', function () {
        let width = document.getElementById('crop-image-container').offsetWidth - 20;
        $('#crop-image-container').height((width) + 'px');
        croppi = $('#crop-image-container').croppie({
            viewport: {
                width: width,
                height: width,
                type: 'circle',
            },
        });
        $('.modal-body1').height(document.getElementById('crop-image-container').offsetHeight + 50 + 'px');
        croppi.croppie('bind', {
            url: window.src,
        }).then(function () {
            croppi.croppie('setZoom', 0);
        });
    });
    $('#imageModalContainer').on('hidden.bs.modal', function () {
        croppi.croppie('destroy');
    });

    $(document).on('click', '.save-modal', function (ev) {
        croppi.croppie('result', {
            type: 'base64',
            format: 'png',
            size: 'viewport',
            quality: 0.5
        }).then(function (resp) {
            $('#preview-image').attr('src', resp);
            console.log(resp);
            $('#base64').attr('value', resp);
            $('.modal').modal('hide');

        });

    });


</script>
<script>
    function base64Upload(){
        var base64 = document.getElementById("base64");
        if(base64.value != null){
            console.log("이미지파일 업로드");
            document.getElementById("base64form").submit();
            var uid = document.getElementById("uid").value;
            document.getElementById("profileImage").value = uid + ".png";
        }
    }
</script>


</body>
</html>