<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <title>채팅 목록</title>
</head>
<body>

<div class="container">
    <h2>채팅 목록</h2>
    <div>
        <table class="table table-hover" border="1">
            <thead>
            <tr>
<!--                <th>rid</th>-->
                <th style="width: 16.66%">이름</th>
                <th style="width: 50%">마지막메세지</th>
                <th style="width: 16.66%">마지막시간</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="room : ${rooms}" th:onclick="'location.href=\''+ @{/chat/enter/{rid} (rid = ${room.getRoom().getRid()})} + '\''">
<!--                <td th:text="${room.getRoom().getRid()}"></td>-->
                <td th:text="${room.getFriendMember().getName()}"></td>
                <td th:text="${room.getRoom().getLastSentContent()}"></td>
                <td th:if ="${#dates.format(room.getRoom().getLastSentTimeAt(), 'yyyy.MM.dd')} == ${#dates.format(#dates.createNow(), 'yyyy.MM.dd')}" th:text="${#dates.format(room.getRoom().getLastSentTimeAt(), 'a K:mm')}"></td>
                <td th:if="${#dates.format(room.getRoom().getLastSentTimeAt(), 'yyyy')} == ${#dates.format(#dates.createNow(), 'yyyy')}" th:unless="${#dates.format(room.getRoom().getLastSentTimeAt(), 'yyyy.MM.dd')} == ${#dates.format(#dates.createNow(), 'yyyy.MM.dd')}"  th:text="${#dates.format(room.getRoom().getLastSentTimeAt(), 'M월 dd일')}"></td>
                <td th:unless="${#dates.format(room.getRoom().getLastSentTimeAt(), 'yyyy')} == ${#dates.format(#dates.createNow(), 'yyyy')}"  th:text="${#dates.format(room.getRoom().getLastSentTimeAt(), 'yy.M.dd')}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->

<nav class=" navbar fixed-bottom navbar-light navbar-fixed-bottom bg-faded justify-content-between flex-nowrap flex-row
                            border bg-primary
                    ">
    <div class="container-fluid justify-content-center">
        <ul class="nav navbar-nav flex-row float-right nav-fill w-100">
            <li class="nav-item"><a class="nav-link pr-3 text-white" href="/friends">친구</a></li>
            <li class="nav-item"><a class="nav-link pr-3 disabled" href="/chatList">채팅</a></li>
            <li class="nav-item "><a class="nav-link pr-3 text-white" href="/matching">매칭</a></li>
            <li class="nav-item "><a class="nav-link pr-3 text-white" href="/">메뉴</a></li>
        </ul>
    </div>
</nav>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
<script>
    window.onpageshow = function (event) {
        if (event.persisted || (window.performance && window.performance.navigation.type == 2)) {
            console.log('페이지 리로드');
            window.location.reload(true);
        }
    };
</script>
</body>
</html>