<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <a href="/">뒤로가기</a>
        <table border="1">
            <thead>
            <tr>
                <th>rid</th>
                <th>name</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="room : ${rooms}">
                <td th:text="${room.rid}"></td>
                <td th:text="${room.name}"></td>
                <td><a th:href="@{/chat/enter/{rid} (rid = ${room.rid})}">입장</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>