<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />

    <title>Spring Boot WebSocket Chat Application</title>

    <!-- 부트스트랩 css 사용 -->
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"/>
    <script
            defer
            src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
            integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
            crossorigin="anonymous"
    ></script>
    <script
            defer
            src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
            integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/roomdetail.css"/>
    <!--    firebase-->
    <script src="https://www.gstatic.com/firebasejs/7.2/firebase.js"></script>
</head>
<body>
<!--메세지 기본 정보-->
<input type="hidden" id="rid" th:value="${rid}"/>
<input type="hidden" id="sender" th:value="${sender}"/>
<input type="hidden" id="senderUid" th:value="${senderUid}"/>
<!--친구 정보-->
<input type="hidden" id="fid" th:value="${fid}"/>
<input type="hidden" id="f_profileImage" class="form-control" name="f_profileImage" th:value="${f_profileImage}">

<div class="page card card-bordered" id="username-page">
    <div class="card-header">
        <h4 class="card-title">
            <p th:text="${name}" id="name" style="font-weight: bold"/>
        </h4>
        <a class="btn btn-xs btn-secondary" href="#" data-abc="true"
        >Let's Chat App</a
        >
    </div>

    <!--채팅화면 -->
    <div id="chat-page">
        <div
                class="ps-container ps-theme-default ps-active-y"
                id="messageArea"
                style="
            overflow-y: scroll !important;
            height: calc(100vh - 130px) !important;
          "
        ></div>
    </div>

    <!-- 채팅 입력 레이아웃 -->
    <form id="messageForm" name="messageForm">
        <div class="publisher bt-1 border-light">
            <img
                    class="avatar avatar-xs"
                    src="https://img.icons8.com/color/36/000000/administrator-male.png"
                    alt="..."
            />

            <input
                    class="form-control publisher-input"
                    type="text"
                    id="message"
                    placeholder="Write something"
                    autocomplete="off"
            />

            <button
                    type="submit"
                    class="publisher-btn text-info"
                    href="#"
                    data-abc="true"
            >
                <i class="fa fa-paper-plane"></i>
            </button>
        </div>
    </form>
</div>

<!--  부트스트랩 js 사용 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<!--firebase setting-->
<script src="/js/fb.js"></script>
<!--socket-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/fileUpload/S3url.js"></script>
<script src="/js/roomdetail.js"></script>

</body>
</html>
