<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


</head>
<body>


<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Register</div>
                    <div class="card-body">
                        <form name="my-form" onsubmit="return validform()" action="/members/new" method="post">
                            <input  id="uid" type="hidden" th:value="${uid}" name="uid"/>
                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">이름</label>
                                <div class="col-md-6">
                                    <input type="text" id="name" class="form-control" name="name">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="gender" class="col-md-4 col-form-label text-md-right">성별</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="gender" name="gender"></select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="age" class="col-md-4 col-form-label text-md-right">나이</label>
                                <div class="col-md-6">
                                    <input type="Number" id="age" class="form-control" min= "200" max="99" value="20">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="mbti" class="col-md-4 col-form-label text-md-right">MBTI</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="mbti" name="mbti"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="stateMessage" class="col-md-4 col-form-label text-md-right">상태메세지</label>
                                <div class="col-md-6">
                                    <input type="text" id="stateMessage" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="profileImage"
                                       class="col-md-4 col-form-label text-md-right">profileImage</label>
                                <div class="col-md-6">
                                    <input type="text" id="profileImage" class="form-control" name="profileImage">
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>

<script src="/js/mbti.js"></script>
<script src="/js/gender.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>