<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css"/>

    <link rel="stylesheet" href="/css/profile-image-upload.css"/>

    <style>
        .custom-file {
            display: none;
        }

        .fixtd_btn {
            width: 100%;
            height: 50px;
            position: relative;

        }

        .btn-left {
            text-align: right;
            position: absolute;
            left: 10px;
            bottom: 0;
        }

        .btn-right {
            text-align: right;
            position: absolute;
            right: 10px;
            bottom: 0;
        }

        .btn_none {
            display: none;
        }

    </style>
</head>
<body>
<input hidden id="user_gender" th:value="${member.getGender()}">
<input hidden id="user_mbti" th:value="${member.getMbti()}">
<input hidden id="relation" th:value="${relation}">
<input id="uid" type="hidden" th:value="${uid}" name="uid"/>
<input id="fid" type="hidden" th:value="${member.getUid()}" name="fid" class="submit_input"/>

<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">회원정보</div>
                    <div class="card-body">
                        <form id="my-form" name=" my-form">

                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">이름</label>
                                <div class="col-md-6">
                                    <input type="text" id="name" class="form-control" name="name"
                                           th:value="${member.getName()}">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="gender" class="col-md-4 col-form-label text-md-right">성별</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="gender" name="gender"
                                            th:value="${member.getGender()}"></select>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="age" class="col-md-4 col-form-label text-md-right">나이</label>
                                <div class="col-md-6">
                                    <input type="Number" id="age" class="form-control" min="20" max="99" name="age"
                                           th:value="${member.getAge()}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="mbti" class="col-md-4 col-form-label text-md-right">MBTI</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="mbti" name="mbti"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="stateMessage" class="col-md-4 col-form-label text-md-right">상태메세지</label>
                                <div class="col-md-6">
                                    <input type="text" id="stateMessage" name="stateMessage" class="form-control"
                                           th:value="${member.getStateMessage()}">
                                </div>
                            </div>

                            <input type="hidden" id="profileImage" class="form-control" name="profileImage"
                                   th:value="${member.getProfileImage()}">

                        </form>

                        <!--                        프로필 이미지-->
                        <form action="/uploadProfileImage" method="post" enctype="multipart/form-data"
                              onsubmit="return handleFileSelect();" target="iframe1" id="form_imageUpload">
                            <input id="uid_imageUpload" type="hidden" th:value="${member.getUid()}"
                                   name="uid_imageUpload"/>
                            <div class="form-group row">
                                <label for="imageFile"
                                       class="col-md-4 col-form-label text-md-right">프로필이미지</label>
                                <div class="col-md-6">
                                    <!--파일 업로드 display:none-->
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="imageFile" accept="image/*"
                                               name="file" aria-describedby="customFileInput">
                                        <label class="custom-file-label" for="imageFile"
                                               style=" overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Select
                                            file</label>
                                    </div>
                                    <!--프리뷰-->
                                    <div class="box box-margin">
                                        <img class="profile" id="preview-image">
                                    </div>

                                </div>
                            </div>
                        </form>


                        <div class="fixtd_btn">
                            <form name="friendDTO" action="/friends/block" method="post">
                                <input type="hidden" th:value="${member.getUid()}" name="fid" class="submit_input"/>
                                <button type="submit" class="btn btn-danger btn-left btn_none " id="btn_block">
                                    차단
                                </button>
                            </form>

                            <form name="roomDTO" action="/room" method="post">
                                <input type="hidden" th:value="${member.getUid()}" name="fid" class="submit_input"/>
                                <button type="submit" class="btn btn-primary btn-right btn_none" id="btn_chat">
                                    1:1 채팅
                                </button>
                            </form>

                            <form name="friendDTO" action="/friends/acceptRequest" method="post">
                                <input type="hidden" th:value="${member.getUid()}" name="fid" class="submit_input"/>
                                <button type="submit" class="btn btn-primary btn-right btn_none" id="btn_accept">
                                    친구 신청 수락
                                </button>
                            </form>

                            <form name="friendDTO" action="/friends/cancelRequest" method="post">
                                <input type="hidden" th:value="${member.getUid()}" name="fid" class="submit_input"/>
                                <button type="submit" class="btn btn-primary btn-right btn_none" id="btn_cancel">
                                    친구 신청 취소
                                </button>
                            </form>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>

    <iframe id="iframe1" name="iframe1" style="display:none"></iframe>


</main>


<script src="/js/member/mbti.js"></script>
<script src="/js/member/gender.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script src="/js/fileupload.js"></script>
<script src="/js/imagefilePreview.js"></script>
<script src="/js/imageLoader.js"></script>
<script>

    //자신의 정보를 보는 경우 친구신청 버튼 없앰
    var fid = document.getElementById("fid").value;
    var uid = document.getElementById("uid").value;

    console.log(fid);
    console.log(uid);

    if (fid == uid) {
        console.log("자신과는 친구신청 불가. 친구신청 버튼 숨김")
        document.getElementsByTagName("button")[0].style.display = "none";

    }

    <!-- 모든 input을 disable로 설정-->
    var array_inputTag = document.getElementsByTagName("input");

    for (var i = 0; i < array_inputTag.length; i++) {
        array_inputTag[i].disabled = true;
    }

    var array_selectTag = document.getElementsByTagName("select");

    for (var i = 0; i < array_selectTag.length; i++) {
        array_selectTag[i].disabled = true;
    }

    //예외) submit 버튼만 허용
    var btn = document.getElementsByClassName("submit_input");
    for (var i = 0; i < btn.length; i++) {
        btn[i].disabled = false;
    }

    var relation = document.getElementById("relation").value.trim();

    console.log(relation);
    if (relation == "FRIEND") {
        document.getElementById("btn_chat").style.display = "block";
        document.getElementById("btn_block").style.display = "block";

    } else if (relation == "RECEIVED_REQUEST") {
        document.getElementById("btn_block").style.display = "block";
        document.getElementById("btn_accept").style.display = "block";
    } else if (relation == "REQUEST") {
        document.getElementById("btn_cancel").style.display = "block";
    }

</script>


</body>
</html>