<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/profile-image-upload.css"/>

</head>

<body>

<div class="container">
    <h2>친구 목록</h2>
    <div>
        <table border="1" id="myTable">
            <thead>
            <tr>
                <!--                <th>FID</th>-->
                <th>프로필 사진</th>
                <th>이름</th>
                <th>mbti</th>
                <th>상태메세지</th>
                <th>채팅하기</th>
            </tr>
            </thead>
            <tbody>


            <tr th:each="friend : ${friends}">
                <input type="hidden" id="uid" th:value="${friend.friendMember.getUid()}">
                <input type="hidden" id="profileImage" th:value="${friend.friendMember.getProfileImage()}">
                <td>
                    <div class="box">
                        <img class="profile" id="preview-image">
                    </div>
                </td>
                <td th:text="${friend.friendMember.getName()}"></td>
                <td th:text="${friend.friendMember.getMbti()}"></td>
                <td th:text="${friend.friendMember.getStateMessage()}"></td>
                <form name="roomDTO" action="/room" method="post">
                    <input id="fid" type="hidden" th:value="${friend.fid}" name="fid"/>
                    <td>
                        <button type="submit" class="btn btn-primary">
                            채팅하기
                        </button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->


<nav class="navbar fixed-bottom navbar-light navbar-fixed-bottom bg-faded justify-content-between flex-nowrap flex-row border bg-primary ">
    <div class="container-fluid justify-content-center">
        <ul class="nav navbar-nav flex-row float-right nav-fill w-100">
            <li class="nav-item"><a class="nav-link pr-3 disabled" href="/friends">친구</a></li>
            <li class="nav-item"><a class="nav-link pr-3 text-white" href="/chatList">채팅</a></li>
            <li class="nav-item "><a class="nav-link pr-3 text-white" href="/matching">매칭</a></li>
            <li class="nav-item "><a class="nav-link pr-3 text-white" href="/">메뉴</a></li>
        </ul>
    </div>
</nav>

<script src="/js/fileUpload/S3url.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
<script src="/js/imageUploadPreview.js"></script>

</body>
</html>