<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<div class="container">
    <div>
        <a href="/">뒤로가기</a>
        <h2>친구 목록</h2>
        <table border="1">
            <thead>
            <tr>
                <th>FID</th>
                <th>관계</th>
                <th>친구 이름</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="friend : ${friends}">
                <td th:text="${friend.fid}"></td>
                <td th:text="${friend.relation}"></td>
                <form name="roomDTO" action="/room" method="post">
                    <input id="fid" type="hidden" th:value="${friend.fid}" name="fid"/>
                    <td th:text="${friend.rid}"></td>
                    <td>
                        <button>
                            채팅하기
                        </button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>