<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div><h1>MBTI-Lovers</h1>
        <p>채팅방</p>
        <p>
            <a href="/chat">채팅하러가기</a>
        </p>
    </div>


    <form action="/members/new" method="post">
        <div>
            <label class="field_label" for="member1_id">멤버1의 id</label>
            <input class="flex_input" type="number" id="member1_id" name="member1_id" placeholder="멤버1의 id">
        </div>
        <div>
            <label class="field_label" for="member1_id">멤버2의 id</label>
            <input class="flex_input" type="number" id="member2_id" name="member2_id" placeholder="멤버2의 id">
            <button class="btn" type="submit">입장</button>
        </div>
    </form>
</div> <!-- /container --> </body>
</html>