<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <title>메인</title>
</head>

<body style="padding-bottom: 100px">

<div class="container">

    <h2>MBTI-Lovers</h2>


    <div class="list-group">
        <p class="list-group-item list-group-item-success" th:if="${user} != null" th:text="${user.getName()}" >유저이름</p>
        <a class="list-group-item" href="/members/edit">내 정보</a>
        <a class="list-group-item" href="https://www.16personalities.com/ko/%EB%AC%B4%EB%A3%8C-%EC%84%B1%EA%B2%A9-%EC%9C%A0%ED%98%95-%EA%B2%80%EC%82%AC">MBTI 검사하기</a>
        <a class="list-group-item" href="/friends/block">차단한 유저 목록</a>
        <a class="list-group-item list-group-item-danger"href="/user/logout">로그아웃</a>
    </div>

</div>
<nav class="navbar fixed-bottom navbar-light navbar-fixed-bottom bg-faded justify-content-between flex-nowrap flex-row border bg-primary ">
    <div class="container-fluid justify-content-center">
        <ul class="nav navbar-nav flex-row float-right nav-fill w-100">
            <li class="nav-item"><a class="nav-link pr-3 text-white" href="/friends">친구</a></li>
            <li class="nav-item"><a class="nav-link pr-3 text-white" href="/chatList">채팅</a></li>
            <li class="nav-item "><a class="nav-link pr-3 text-white" href="/matching">매칭</a></li>
            <li class="nav-item "><a class="nav-link pr-3 disabled" href="/">메뉴</a></li>
        </ul>
    </div>
</nav>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>

</body>
</html>