<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />

    <title>Spring Boot WebSocket Chat Application</title>

    <!-- 부트스트랩 css 사용 -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
      integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
      integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/chatRoom.css" />
  </head>
  <body>
    <div id="username-page">
      <div class="username-page-container">
        <h1 class="title">username을 입력하세요</h1>
        <form id="usernameForm" name="usernameForm">
          <div class="form-group">
            <input
              type="text"
              id="name"
              placeholder="Username"
              autocomplete="off"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <button type="submit" class="accent username-submit">
              채팅 시작하기
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="page-content page-container" id="page-content">
      <div class="padding">
        <div class="row container d-flex justify-content-center">
          <div class="col-md-6">
            <div class="card card-bordered">
              <div class="card-header">
                <h4 class="card-title"><strong>Chat</strong></h4>
                <a class="btn btn-xs btn-secondary" href="#" data-abc="true"
                  >Let's Chat App</a
                >
              </div>

              <!--채팅화면 -->
              <div id="chat-page">
                <div
                  class="ps-container ps-theme-default ps-active-y"
                  id="messageArea"
                  style="
                    overflow-y: scroll !important;
                    height: 400px !important;
                  "
                >
                  <!-- 상대쪽 채팅 -->
                  <div class="media media-chat">
                    <img
                      class="avatar"
                      src="https://img.icons8.com/color/36/000000/administrator-male.png"
                      alt="..."
                    />
                    <div class="media-body">
                      <p>Hi</p>
                      <p class="meta">
                        <time datetime="2018">23:58</time>
                      </p>
                    </div>
                  </div>
                  <!-- 시간 -->
                  <div class="media media-meta-day">Today</div>
                  <!-- 내쪽 채팅 -->
                  <div class="media media-chat media-chat-reverse">
                    <div class="media-body">
                      <p>Hiii, I'm good.</p>
                      <p>How are you doing?</p>
                      <p>
                        Long time no see! Tomorrow office. will be free on
                        sunday.
                      </p>
                      <p class="meta">
                        <time datetime="2018">00:06</time>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- 채팅 입력 레이아웃 -->
              <div class="publisher bt-1 border-light">
                <img
                  class="avatar avatar-xs"
                  src="https://img.icons8.com/color/36/000000/administrator-male.png"
                  alt="..."
                />

                <form id="messageForm" name="messageForm">
                  <div class="form-group">
                    <div class="input-group clearfix">
                      <input
                        class="form-control"
                        type="text"
                        id="message"
                        placeholder="Write something"
                        autocomplete="off"
                      />
                      <button type="submit" class="primary">보내기</button>
                    </div>
                  </div>
                </form>
                <span class="publisher-btn file-group">
                  <i class="fa fa-paperclip file-browser"></i>
                  <input type="file" />
                </span>
                <a class="publisher-btn" href="#" data-abc="true"
                  ><i class="fa fa-smile"></i
                ></a>
                <a class="publisher-btn text-info" href="#" data-abc="true"
                  ><i class="fa fa-paper-plane"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  부트스트랩 js 사용 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <!--socket-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/chatRoom.js"></script>
  </body>
</html>
