<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://www.gstatic.com/firebasejs/8.3.0/firebase.js"></script>
</head>
<body>
<div class="container">
    <div><h1>MBTI-Lovers</h1>
        <p>[웹] 로그인 페이지 입니다</p>

        <form action="/user/loginPost" method="post">
            <input type="text" name="uid" placeholder="파이어베이스uid">
            <button type="submit">로그인</button>
        </form>
        </form>
    </div>
</div>


<!--파이어베이스 실시간으로 웹페이지 연동하기 </br>-->

<!--Firebase + Realtime + Web-->

<!--<p id="demo">A Paragraph.</p>-->

<!--<pre id="object"></pre>-->

<!--<button type="button" onclick="myFunction()">데이터 쓰기</button>-->

<!--<script src="/js/firebaseSetting.js"></script>-->

<!--<script>-->
<!--    function myFunction() {-->
<!--        document.getElementById("demo").innerHTML = "쓰기를 완료";-->
<!--        alert("쓰기 완료");-->

<!--        //firebase에 쓰기-->

<!--        firebase.database().ref('Demo').set({-->

<!--            username: "test",-->

<!--            age: 11-->

<!--        });-->

<!--    }-->

<!--</script>-->


</body>
</html>